@font-face {
    font-family: Roboto_Light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
} 
@font-face {
    font-family: Roboto_Medium;
    src: url(./fonts/Roboto/Roboto-Medium.ttf);
} 

@font-face {
    font-family: Roboto_Bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

body{
    font-family: 'Roboto_Light';
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    height: fit-content;
}

.header_container {
    color: #fff;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
header{
    width: 100%;
    max-width: 1024px;
    
    height: fit-content;
    padding: 10px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo{
    font-family: 'Roboto_Medium';
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: black;
    height: 30px;
    
}
.logo img{
    width: 30px;
    height: 30px;
    
}

.logo a{
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all ease 0.5s;
}

.logo a:hover{
    color: coral;
}

nav a{
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all ease 0.5s;
}

nav a:hover{
    color: coral;
}
.container{

    width: 100%;
    max-width: 1024px;
    padding: 10px;

}

h2{
    font-family: 'Roboto_Medium';
    font-size: 30px;
}

.block_1{
    padding: 10px;
    width: 100%;
   
    height: auto;
    
    margin-bottom: 20px;
}
.block_1 .title {
    width: 100%;
    text-align:center;
}
.block_1 .title h2{
    font-family: 'Roboto_Medium';
    margin: 0px;
}
.block_1 .row {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block_1 h4{
    font-size: 30px;
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid coral;
}
.block_2{
    padding: 10px;
    width: 100%;
   
    height: auto;
    
    margin-bottom: 20px;
}
.block_2 .title {
    width: 100%;
    text-align:center;
    margin: 20px 0px;
}
.block_2 .title h2{
    font-family: 'Roboto_Medium';
    margin: 0px;
}

.bio{
    width: 100%;
    display: flex;
    
    gap: 10px;
}
.bio .card img{
    width: 100%;
    height: 200px;
}
.bio .card{
    display: flex;
    flex-direction: column;
    width: 25%;
    
}

.block_3{
    padding: 10px;
    width: 100%;
   
    height: auto;
    
    margin-bottom: 20px;
}
.block_3 .title {
    width: 100%;
    text-align:center;
    margin: 20px 0px;
}
.block_3 .title h2{
    font-family: 'Roboto_Medium';
    margin: 0px;
}

.block_3 .row {
    margin-bottom: 20px;
}
.block_3 h4{
    margin: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid coral;
}
.block_3 p{
    margin: 0px;
}
.block_4{
    padding: 10px;
    width: 100%;
   
    height: auto;

    margin-bottom: 20px;
}
.block_4 .title {
    width: 100%;
    text-align:center;
    margin: 20px 0px;
}
.block_4 .title h2{
    font-family: 'Roboto_Medium';
    margin: 0px;
}

.block_4 .row {
    margin-bottom: 10px;
    background-color: rgb(232, 232, 232);
    border-radius: 10px ;
    padding: 10px;
}
.block_4 h4{
    margin: 0px;
    color: coral;
    margin-bottom: 10px;
    border-bottom: 1px solid coral;
}
.block_4 p{
    margin: 0px;
}

.footer_container {
    color: #fff;
    width: 100%;
    height: 60px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}
footer{
    width: 100%;
    max-width: 1024px;
    
    height: fit-content;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;

}
footer .number{
    font-family: 'Roboto_Bold';
    padding-left: 10px;
    color: #fff;
    cursor: pointer
}
footer nav a{
    
    color: #fff;
}